* {
	margin:0;
	padding:0;
	font-family:Tahoma, "MS Sans Serif"; /* แบบอักษรทั้งหมด */
	font-size:100%; /* ขนาดอักษรทั้งหมด */
}
body {
	min-height:100%;
	color:#000000;
	margin:0 auto;
	/*background:#ffffff url(img/bg.gif) top center repeat-y;*/
	font-size:9pt; /* ขนาดอักษรทั้งหมด */
}
a {
	text-decoration:none;
}
.green {
	color:green;
}
.blue {
	color:blue;
}
.red {
	color:red;
}
img {
	vertical-align:middle;
	border:none;
}
ol {
	list-style-type:none;
}
li.button {
	padding:2px;
	cursor:pointer;
}
li.hovered {
	background:#F0F0F0;
	border:1px solid #AAAAAA;
	padding:1px;
	cursor:pointer;
}
li.select {
	background:#F0F0F0;
	border:1px solid #AAAAAA;
	padding:1px;
	cursor:pointer;
}
input {
	border:1px solid #666666;
	background-color:#FFFFFF;
	padding:2px;
}
input#submit {
	padding:1px;
	color:maroon;
}

/* รายการต่างๆในหน้าเพจ */
/* ส่วนแสดงชื่อห้องที่กำลัง online */
#room {
	padding:4px;
	margin:2px 0 2px;
	text-align:center;
	color:#FFFFFF;
	font-weight:bold;
	background-color:#666666;
}
/* จบ รายการต่างๆในหน้าเพจ */
#wraper {
	width:960px !important;
	float:none;
	margin:0 auto;
	display:table;
}
#userscontainer {
	width:129px;
	height:460px;
	display:table;
	border:1px solid #666666;
	border-left:none;
	float:left;
}
#usersheader,#roomsheader {
	display:block;
	padding-left:2px;
	background-color:#AAAAAA;
	border-left:1px solid #666666;
	border-bottom:1px solid #666666;
	border-right:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	font-family:"Lucida Sans";
	font-size:10pt;
	position:relative;
}
.red {
	color:red;
	font-size:13pt;
	font-family:"Lucida Sans";
}
#userscontainer #time {
	display:inline;
	right:0;
	margin:5px 2px;
	position:absolute;
	font-family:Tahoma;
	font-size:8pt;
	color:#FAFAFA;
}
#users, #rooms { /* พื้นที่แสดงผลคน online และ ชื่อห้อง */
	padding:2px;
	display:block;
	overflow:auto;
}
#users img {
	margin-right:3px;
}
#users li {
	position:relative;
}
#roomsscontainer {
	display:table;
	width:225px;
	height:460px;
	float:left;
	border:1px solid #666666;
	border-right:none;
}
#roomsscontainer #roomsheader {
	margin-left:1px;
}
/* พื้นที่แสดงผลเนื้อหาของ chat */
ol#content { /* เนื้อหา */
	display:block;
	overflow:auto;
	height:456px;
	width:600px;
	float:left;
	padding:2px;

	border-top:1px solid #666666;
	border-bottom:1px solid #666666;
}
#content li { /* แต่ละรายการ */
	list-style-type:none;
	padding:2px 2px 2px 4px
}
#content li.bg1 { /* สีพื้น 1 */
	background-color:#F1F8EF;
	border-left:4px solid #A0D8B1;
}
#content li.bg2 { /* สีพื้น 2 */
	background-color:#FFFBFF;
	border-left:4px solid #FFCCFF;
}
#content li.bg3 { /* สีพื้น login */
	background-color:#FAFAFA;
	border-left:4px solid #F0F0F0;
}
#content li.bg4 { /* สีพื้น logout */
	background-color:#F0F0F0;
	border-left:4px solid #FAFAFA;
}
#content li.bg5 { /* สีพื้น pm */
	background-color:#FBFCEF;
	border-left:4px solid #FFFF99;
}
#content .time { /* เวลา */
	color:#888888;
	font-size:80%;
	margin-right:2px;
	float:left;
}
#content cite { /* ชื่อคน ใน content */
	display:block;
	font-style:normal;
	margin-bottom:3px;
}

#post { /* ฟอร์มส่งข้อความ */
	width:775px;
	float:none;
	margin:0 auto;
	padding:20px;
}
#post #frmPost {
	float:none;
	margin:0 auto;
}
#post img {
	cursor:pointer;
}
#post select {
}
#post option {
	padding:2px;
}
/* จบ พื้นที่แสดงผลเนื้อหาของ chat */