body { margin: 0; background-image:url(../images/bg.gif); background-repeat:repeat-x; background-color:#F3F3F3; font-size:13px; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; color: #333; margin:0px;}

.bghead {background-image:url(../images/bghead.gif); background-repeat:repeat-x;position:relative;}
.bghead h1{color:#233979; font-size:30px; padding:20px 0 0 0;}
.bghead small{font-size:20px;}
.bghead .user-data{position:absolute; top:10px; right:20px; border:1px solid #CCC; background:#EEE; padding:10px 20px; line-height:23px; font-size:14px; text-align:center;}
.bghead .user-data h2{font-size:16px; padding:0;}
.logout {position:absolute;bottom:10px;right:10px;}
a{color: #0080ff; text-decoration:none;}


.left {float:left;}
.right {float:right;}


/*#login {background: url(../images/login.gif) no-repeat top center; height:auto;text-align:center; }*/
#login{margin:300px 400px;width:100%;}

#loged {background: url(../images/bg_loged.gif) no-repeat top center; height: 77px; }
#container {background:url(../images/bg_page.gif) repeat-y; height: 100%;}

.clear { clear:both; }

#headtxt {border-bottom:1px solid #CCC; padding:5px;}
#headtxt p {text-align:center; font-size:16px; font-weight:700; margin-bottom:5px;}

#food { border-bottom:1px solid #CCC; padding:5px;}
#remark { border-bottom:1px solid #CCC; padding:5px 10px; font-size:13px; font-weight:700; color:#C00; background-color:#FFF}
#remark p {margin-bottom:5px;}
.toggle{display:block; width:16px; height:16px; background:url(../images/toggle.png) bottom left no-repeat;}
.active .toggle{display:block; width:16px; height:16px; background:url(../images/toggle.png) top left no-repeat;}
.report h2{position:relative;}
.report h2 .toggle{position:absolute; right:5px; top:5px;}

/* ^^^^^^^^ BELOW IS THE CODE FOR THE MENU ^^^^^^^^^^ */
ul#saturday{margin:0;padding:0;list-style-type:none;width:auto;position:relative;display:block;height:36px;text-transform:uppercase;font-size:14px;font-weight:bold;background:transparent url("../images/bgOFF.gif") repeat-x top left;font-family:Helvetica,Arial,Verdana,sans-serif;border-bottom:4px solid #233979;border-top:1px solid #b3d6ee;}
ul#saturday li{display:block;float:left;margin:0;padding:0;}
ul#saturday li a{display:block;float:left;color:#466887;text-decoration:none;padding:12px 20px 0 20px;height:36px;background:transparent url("../images/bgDIVIDER.gif") no-repeat top right;}
ul#saturday li a:hover,ul#saturday li.active a{background:transparent url("../images/bgHOVER.gif") no-repeat top right;}
ul#saturday li a.current,ul#saturday li a.current:hover{color:#fff;background:transparent url("../images/bgON.gif") no-repeat top right;}
/* ^^^^^^^^ ABOVE IS THE CODE FOR THE MENU ^^^^^^^^^^ */
#container{
	padding:5px 10px 0;
}
#content{
	padding:10px;
	border:1px solid #cacaca;
	border-top:none;
	background:#fff;
}
#content h3{line-height:22px;}


.search{
	text-align:center;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	background:#EFEFEF;
	padding:5px 0;
	margin:0 0 15px;
}
.search label{font-weight:bold;}

ol{ list-style-position:inside; list-style-type:decimal;}
ol li{padding:0 0 5px;}
ul li{padding:0 0 5px;}
.list{line-height:16px;}
.list label,.form label{font-weight:bold;}
.full{width:99%;}
#form-body {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
}
#form-body p{padding:0 0 10px;}
.form-inner{padding:10px;}
.form-inner h2{font-size:14px; text-decoration:underline;}
.form-inner .detail{text-indent:15px; line-height:20px;}
.command{background:#AAA; padding:3px;}
.command h1{font-size:16px; margin:5px; padding:0;}
#form-body .box .full{width:70%;}
#form-body .box {padding:20px 10px 20px; border-bottom:1px solid #CCC;}
#form-body .box table th{width:120px; font-weight:bold; text-align:left; color:#000;}
#form-body .box{position:relative;}
#form-body .box:hover{background:#E8F3F9;}
#form-body .box .option{position:absolute; top:10px; right:10px; display:none;}
#form-body .box:hover .option{position:absolute; top:10px; right:10px; display:block;}
#form-body .box .disable {
    border: 1px dashed #999999;
    color: #000000;
	width:200px;
	padding:5px;
}
#form-body .box .half{width:60%;}
#form-body .box.scale .num{width:50px; text-align:center;}
#form-body .box.grid .num{width:50px; text-align:center;}
#form-body .box.grid table table th{width:400px;}
#form-body .box.grid table table th .full{width:85%;}
#form-body .box table th,#form-body .box table td,#form-body .q table th,#form-body .q table td {
    padding: 0.3em 12px 0.3em 0;
    text-align: left;
    vertical-align: middle;
}
#form-body .q {padding:20px 0;border-bottom:1px solid #CCC;}
#form-body .q table th{width:50px; font-weight:bold; text-align:left; color:#000;}
#form-body .q.scale .num{width:50px; text-align:center;}
#form-body .q.scale table table td{border:1px solid #CCC; border-left:none; border-right:none; text-align:center; padding:5px;}
#form-body .q.grid table table tr.odd td{background:#FAFAFA;}
#form-body .q.grid table table td{border:1px solid #CCC; text-align:center; padding:5px;}
.placeholder{border:1px dashed #00ff00; background:#dfffdf; margin:5px 0;}
.box h2{
	padding:5px 10px;
	font-size:16px;
	color: #233979;
	border: 1px solid #C1DAD7;
	text-align: left;
	background: #E2F1FA;
	margin:0 0 1px 0;
	cursor:pointer;
}
.child {padding:0 0 10px;}
.box.grid .child table {width:800px;}
.child table{width:500px; margin:0 auto;}
.child table td,.child table th{border:1px solid #CCC; text-align:center; padding:5px;}
.child table th{background:#EEE;}
.child table tr.odd td{background:#FAFAFA;}
.child table tfoot td{background:#ceffce;}
.child table .num{width:60px; text-align:center;}

.thankyou{
	padding:50px 10px;
	font-size:16px;
	color: #233979;
	border: 1px solid #C1DAD7;
	text-align: center;
	background: #E2F1FA;
	margin:10px;
	cursor:pointer;
}

.group_ddl{width:150px;}
